streamlit
python-dotenv
langchain
langchain-openai
langchain-community
langchain-core
langchain-ollama
langchain-teddynote
langchain-experimental
PyMuPDF
faiss-cpu
pandas
matplotlib
seaborn
tabulate
